header {
    background: #222;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between; align-items: center;
    position:fixed; width:100%; padding:17px; z-index: 400;
}
header h1 {}
header h1 a {}
header h1 a img {width:100%;}
header nav {}
header nav a {
    color:#fff; margin-right:25px; font-size: 1.2rem;
}
header .sub_t_r {display:flex;}
header .sub_t_r a {}
header .sub_t_r a:first-child {
    color:#fff; border:2px solid #fff;
    border-radius: 5px; padding:10px; font-size: 0.95rem;
    margin-right:15px;
}
header .sub_t_r a img {width:100%; filter:invert(1); height:40px;}
/* -------------------------main-------------------------- */
main {}
main .visual {
    height:800px; position: relative; overflow: hidden;
}
main .visual .title {
    position:absolute; left:50%; top:50%;
    transform:translate(-50%,-50%); z-index: 500;
}
main .visual .title h2 {
    color:#fff; font-size:3rem; font-weight:700; 
    line-height: 1.3; margin-bottom:100px;
    text-align:center; 
}
main .visual .title a {
    color:#fff; background:#222; padding:15px 50px;
    border-radius:10px; margin-left:120px;
}
main .visual video {
    height:150%;
}
/* -------------------------main h2&p공통-------------------------- */
main h2 {
    font-size: 3rem; font-weight: 700;
    margin-bottom:30px;
}
main p {
    line-height: 1.5; font-size: 1.188rem;
}
/* ------------------------creators -------------------------*/
main .creators {text-align: center; margin:150px 0 100px 0;}
main .creators h2 {}
main .creators p {}
main .creators img {width:100%;}
main .creators .creators_bt {
    display:flex; max-width:1300px; margin:0 auto;
    justify-content: space-around;
}
main .creators .creators_bt dl dt {
    font-size: 2rem; font-weight: 700; margin:50px 0 10px 0;  
}
main .creators .creators_bt dl dd {
    font-size:1.2rem;
}
/* ------------------------contents -------------------------*/
main .contents {
    background:#f5f5f5; text-align:center; padding:150px;
}
main .contents h2 {}
main .contents p {margin-bottom:50px;}
main .contents .box {
    display:flex; margin:0 auto; max-width:1300px;
    justify-content: space-around; 
}
main .contents .box2 {margin:0 30px;}
/* ------------------------box_a공통 -------------------------*/
main .contents .box_a {
    background: #fff; width:30%; padding:40px 0; 
    border-radius: 20px;
}
main .contents .box_a dl {}
main .contents .box_a dl dt {
    font-size:1.5rem; font-weight:700;
}
main .contents .box_a dl dd {
    margin:30px 0 40px 0; line-height: 1.4;
}
main .contents .box_a dl dd a {
    background: #222; color:#fff; padding:10px 15px;
    border-radius: 15px;
}
/* ------------------------circle -------------------------*/
main .circle {
    margin:150px 0; text-align:center;
}
main .circle h2 {}
main .circle p {margin-bottom:50px;}
main .circle .picture {
    display:flex; max-width:1300px; margin:0 auto;
}
main .circle .picture a {margin-right:15px;}
main .circle .picture a:last-child {margin:0;}
main .circle .picture a img {width:100%;}
/* ------------------------footer -------------------------*/
footer {
    background: #f5f5f5; padding:50px 15px;
    display:flex; justify-content: space-between;
}
footer .left {}
footer .left a {margin-right:15px;}
footer .left p {margin-top:15px;}
footer .rigth {
    display:flex; height:25px;
}
footer .rigth select {border:none; margin-right:8px;}
footer .rigth #lg option {}
footer .rigth a {}
footer .rigth a img {}